services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=http://localhost:5678/
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - BOT_TOKEN=${BOT_TOKEN}
      - CHANNEL_ID=${CHANNEL_ID}
      - EXECUTIONS_DATA_PRUNE=true
      - EXECUTIONS_DATA_MAX_AGE=72
      - N8N_BLOCK_ENV_ACCESS_IN_EXPRESSIONS=false
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
    volumes:
      - ./n8n_data:/home/node/.n8n

  telegram-bot:
    build: .
    restart: always
    depends_on:
      - n8n
    environment:
      # ВАЖЛИВО: всередині Docker ми звертаємось до n8n по імені сервісу "n8n"
      - N8N_WEBHOOK_URL=http://n8n:5678/webhook/scan-receipt
      - N8N_STAT_URL=http://n8n:5678/webhook/get-stats
      - N8N_FAMILY_URL=http://n8n:5678/webhook/family-action
      - N8N_FLYER_URL=http://n8n:5678/webhook/process-flyer
      - BOT_TOKEN=${BOT_TOKEN}
      - CHANNEL_ID=${CHANNEL_ID}
      - ADMIN_ID=${ADMIN_ID}

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
