services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=http://localhost:5678/
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    volumes:
      - n8n_data:/home/node/.n8n

  telegram-bot:
    build: .
    restart: always
    depends_on:
      - n8n
    environment:
      # ВАЖЛИВО: всередині Docker ми звертаємось до n8n по імені сервісу "n8n"
      - N8N_WEBHOOK_URL=http://n8n:5678/webhook/scan-receipt
      - BOT_TOKEN=${BOT_TOKEN}

volumes:
  n8n_data: