name: CI/CD Pipeline on pikaserver

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    # Важливо: змінюємо на твій власний раннер
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Local
        run: |
          cd ~/myprojects/scanflow
          git stash
          git pull origin main
          docker compose up -d --build
          docker image prune -f